.line {
    display: flex;
    flex-direction: row;
    /*background-color: bisque;*/
}

.index {
    /*background-color: aquamarine;*/
    height: 19px;
    align-self: center;
}

.spacer {
    width: 15px;
}

.input {
    margin-left: 10px;
    border-color: rgba(0, 0, 0, 0);
}

.input:active {
    border-color: rgba(0, 0, 0, 0);
    outline: 0;
}

.input:focus {
    border-color: rgba(0, 0, 0, 0);
    outline: 0;
}

.indents {
    width: 10px;
}