html{
    width: auto;
    height: 960px;
    /* background-color: black; */
}
header{
  height: 192px;
  background-color: #84e6bd;
}
body{
  height: 768px;
  /* background-color: aqua; */
}
