.container { display: flex; }

.verLine { flex-direction: column; }

.holLine { flex-direction: row; }

.max-width { width: 100%; }

.max-height { height: 100%; }

.under { bottom: 0; }

.relative { position: relative; }

.absolute { position: absolute; }

.left { width: 74%; }

.right { width: 25%; }

.parent { overflow: hidden; }