div.all{
    position: absolute
}
div.ue{
   top:0px;
   left:0px;
}
div.sita{
    top: 100px;
    right: 0px;
}
/* div.input{
    

}
div.potetotip{
 
}
div.output{

}
div.core{
  
} */