<div cdkOverlayOrigin class="container verLine max-width max-height">
  <div class="container holLine upper space-col">
    <app-edita class="upper left space-row"></app-edita>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="container verLine upper right space-row">
      <app-default-tip class="bottom space-col"></app-default-tip>
      <mat-divider></mat-divider>
      <app-user-tip class="upper space-col"></app-user-tip>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="container holLine space-col">
    <app-output class="left space-row"></app-output>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="container verLine right space-row">
      <button mat-raised-button>実行</button>
      <button mat-raised-button>クリア</button>
      <button mat-raised-button>編集</button>
    </div>
  </div>
</div>