div.all{
    width: auto;
    height: 768px;
    border: solid 3px #000000;/*線*/
}
div.ue{
  width: 100%;
  height: 576px;

}
div.sita{
  width: auto;
  height: 192px;

}
div.input{
    width: 50%;
    height: 576px;
    border: solid 1px black;
    float: left;
}
div.potetotip{
  height: 576px;
  border: solid 1px black;
}
div.output{
  width: 50%;
  height: 192px;
  border: solid 1px black;
  float: left;
}

div.core{
  height: 192px;
  border: solid 1px black;
}
