.container { display: flex; }

.verLine { flex-direction: column; }

.holLine { flex-direction: row; }

.max-width { width: 100%; }

.max-height { height: 100%; }

.upper { height: 70%; }

.bottom { height: 30%; }

.left { width: 74%; }

.right { width: 25%; }

.space-row {
  padding-left: 15px;
  padding-right: 15px;
}

.space-col {
  padding-top: 15px;
  padding-bottom: 15px;
}

.relative { position: relative; }

.absolute { position: absolute; }

.under { bottom: 0; }